/* =============================================================
================================================================

                    menu page designing
            
================================================================
================================================================*/
* {
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1300px;
    margin: auto;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.7)),url("../images/a.jfif");
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
}

nav {
    background-color: rgb(44, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 30px;
}

    nav h3 {
        color: white;
        float: left;
        margin-left: 50px;
        font-size: 25px;
        font-family: 'Parisienne', cursive;
        border-style: double;
        border-width: 5px 5px;
        padding: 5px 15px;
    }

ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 20px;
}

    ul li {
        display: inline-block;
    }

nav ul li a {
    border-radius: 5px;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    ;
    margin: 5px;
    text-align: center;
    font-size: 17px;
    border: 1px solid rgba(138, 135, 135, 0.822);
    transition: 0.4s;
}

ul li a:hover {
    background-color: #f5e23a;
    border: 1px solid #f5e23a;
    color: black;
    font-weight: 25px;
    transition: 0.8 ease;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .title h3 {
        font-family: "Pacifico";
        color: #faeb61;
        font-size: 50px;
        text-align: center;
        padding-top: 25%;
    }

    .title p i {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        margin-left: 3px;
    }

/* section 2 menu */

.offers {
    padding-bottom: 80px;
}

    .offers h1 {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        color: white;
        word-spacing: 5px;
        font-size: 25px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: rgb(82, 83, 83);
        margin-top: 40px;
        margin-bottom: 40px;
    }

.row {
    display: flex;
    padding-left: 40px;
}

.dish {
    margin: 16px;
    border: 1px solid rgb(163, 159, 159);
    width: 550px;
    height: 50px;
    border-radius: 10px;
    ;
    padding-left: 20px;
    padding-top: 27px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#dish {
    font-weight: 600;
    font-size: 18px;
    font-family: sans-serif;
    color: #ffa601;
    padding: 3px;
}

#dash {
    color: rgb(59, 53, 53);
}

#price {
    padding: 6px;
    font-weight: 600;
    font-size: 18px;
    color: black;
    font-family: sans-serif;
}


/* section 3---> footer */
.footer {
    background: rgb(44, 37, 37);
    padding-bottom: 45px;
}

.foot h3 {
    color: rgb(212, 173, 66);
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.foot p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}

.media {
    padding-top: 25px;
}

.footer hr {
    width: 40%;
    float: left;
    margin-left: 29%;
    border: 1px solid rgb(141, 135, 127);
}

.foot {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.foot1 {
    padding: 20px 5px;
    background: rgb(44, 37, 37);
    border-radius: 6px;
    flex-basis: 35%;
    text-align: center;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 5%;
    margin-top: 2px;
}


    .foot1 i {
        color: white;
        font-size: 23px;
        padding-right: 17px;
        line-height: 1.4;
    }

    .foot1, .foot1 p {
        color: white;
        font-size: 20px;
    }
