
* {
    margin: 0;
    padding: 0;
}

.header {
    max-width: 1300px;
    margin: auto;
    height: 80vh;
    background-image: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.5)),url( "../images/1.jfif");
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
}

nav {
    background-color: rgb(44, 37, 37);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 30px;
}

    nav h3 {
        color: white;
        float: left;
        margin-left: 50px;
        font-size: 25px;
        font-family: 'Parisienne', cursive;
        border-style: double;
        border-width: 5px 5px;
        padding: 5px 15px;
    }

ul {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 20px;
}

    ul li {
        display: inline-block;
    }

nav ul li a {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    ;
    margin: 5px;
    text-align: center;
    font-size: 17px;
    border: 1px solid rgba(138, 135, 135, 0.822);
    transition: 0.4s;
}

ul li a:hover {
    background-color: #f5e23a;
    border: 1px solid #f5e23a;
    color: black;
    font-weight: 25px;
}

.active {
    background-color: #f5e23a;
    font-size: 19px;
    color: black;
}

.title {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .title h3 {
        font-family: "Pacifico";
        color: #faeb61;
        font-size: 50px;
    }

    .title p i {
        color: rgb(255, 255, 255);
        font-size: 20px;
        text-align: center;
        margin-left: 32%;
    }
/* section 2 -->reserve the table */
.offers {
    background: rgb(240, 234, 207);
    height: 90%;
}

div h2 {
    text-align: center;
    color: red;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 10px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.offers div p {
    text-align: center;
    justify-content: center;
    font-size: 20px;
    color: black;
}



/* contact form styling */
.form {
    height: 400px;
    width: 1030px;
    box-sizing: border-box;
    padding: 30px 30px;
    margin-left: 10%;
    background: white;
}

    .form input {
        width: 40%;
        line-break: unset;
        /* margin-bottom: 20px; */
        margin: 30px 37px 5px 45px;
    }

        .form input[type= text], .form input[type=email], .form input[type=phone] {
            border: 1px solid rgb(63, 58, 58);
            background: transparent;
            color: rgb(61, 59, 59);
            height: 40px;
            font-size: 16px;
            outline: none;
            opacity: 1;
            padding-left: 2px;
        }

b {
    margin-left: 44px;
    font-size: 20px;
    font-weight: lighter;
}

select {
    width: 26%;
    margin: 30px 42px 5px 15px;
    display: inline-block;
    height: 40px;
    padding-left: 2px;
    border: 1px solid black;
    background: transparent;
}

.form input[type=date] {
    width: 33%;
    margin: 30px 40px 5px 21px;
    display: inline-block;
    height: 40px;
    padding-left: 2px;
    background: transparent;
    border: 1px solid black;
}

.form input[type=time] {
    width: 33%;
    margin: 30px 45px 5px 15px;
    display: inline-block;
    height: 40px;
    padding-left: 2px;
    background: transparent;
    border: 1px solid black;
}
/* submit button styling */

.form input[type= submit] {
    color: white;
    background: rgb(206, 69, 45);
    font-size: 21px;
    border-radius: 7px;
    border: none;
    height: 50px;
    font-family: serif;
    margin-top: 40px;
    margin-bottom: 40px;
    transition: 0.6s;
}

    .form input[type= submit]:hover {
        background: rgb(180, 34, 9);
    }

    .form input[type= submit]:hover {
        cursor: pointer;
    }

.book {
    width: 44%;
    margin-left: 35%;
}


/* section 3---> footer */
.footer {
    background: rgb(44, 37, 37);
    padding-bottom: 45px;
}

.foot h3 {
    color: rgb(212, 173, 66);
    text-align: center;
    font-size: 25px;
    padding-top: 40px;
}

.foot p {
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
}

.media {
    padding-top: 25px;
}

.footer hr {
    width: 40%;
    float: left;
    margin-left: 29%;
    border: 1px solid rgb(141, 135, 127);
}

.foot {
    display: flex;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
}

.foot1 {
    padding: 20px 5px;
    background: rgb(44, 37, 37);
    border-radius: 6px;
    flex-basis: 35%;
    text-align: center;
    margin-left: 2px;
    margin-right: 10px;
    margin-bottom: 5%;
    margin-top: 2px;
}


    .foot1 i {
        color: white;
        font-size: 23px;
        padding-right: 17px;
        line-height: 1.4;
    }

    .foot1, .foot1 p {
        color: white;
        font-size: 20px;
    }
